body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #eaf3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container{
    background: white;
    width: 350px;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: center;
}

.login-container h2 {
    color: #0056d6;
    margin-bottom:8px;
}

.subtitle {
    color: #666;
    font-size: 14px;
    margin-bottom: 24px; 
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

button{
    width: 100%;
    padding: 12px;
    background:#0056d6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0041a8;
}

.footer-text {
    font-size: 13px;
    margin-top: 10px;
}

.error-msg {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}