body {
    font-family: Arial, sans-serif;
    background-color: #eef2f7;
    margin: 0;
}


/* Navbar */
.navbar {
    background-color: #0A74DA;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logout-btn {
    background: #ff3b3b;
    border: none;
    padding: 8px 15px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* Container */
.container {
    padding: 30px;
}

.btn {
    cursor: pointer;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    color: white;
}

.btn-success {
    background-color: #0A74DA;
}

.btn-primary {
    background-color: #28a745;
}

.btn-danger {
    background-color: rgb(126, 195, 218);
}

.btn-del {
    background-color: #e63946;
}

/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 15px;
}

.table th, .table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.modal-content {
    background: #fff;
    width: 350px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 12px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
}

.btn-secondary {
    background-color: #999;
}

#addSubjectModal .modal-content {
    width: 380px;
}
