body {
    font-family: Arial, sans-serif;
    background-color: #eef2f7;
    margin: 0;
}

.navbar{
    background-color: #0A74DA;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logout-btn {
    background: #ff3b3b;
    border: none;
    padding: 8px 15px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}


.container {
    padding: 30px;
}


.students-table{
    width: 100%;
    border-collapse: collapse;
    background: white;
}


.students-table th,
.students-table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left
}


.add-btn {
    background-color: #0A74DA;
    color: white;
    padding: 10px 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


/* Modeal Background */
.modal{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}


/* Modal Container */
.modal-content{
    background: #fff;
    width: 350px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
}

.modal-content input{
    width: 100%;
    padding: 8px;
    margin-top:6px;
    margin-bottom: 12px;
}

.modal-actions{
    display: flex;
    justify-content: space-between;
}

.close-btn {
    background-color: #999;
    border: none;
    padding: 8px 14px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}