services:
  backend:
    build: .
    container_name: grade_backend
    ports:
      - "8000:8000"
    env_file:
      - src/.env
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: grade_mgmt
      MYSQL_ROOT_PASSWORD: "0903"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  mysql_data:
