version: "3.9"

services:
  backend:
    build: .
    container_name: grade_backend
    ports:
      - "8000:8000"
    env_file:
      - src/.env
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: grade_mgmt
      MYSQL_ROOT_PASSWORD: "0903"
    # ports:
    #   - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
