<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Feedback Form</title>
</head>
<body>
    <div class="container">

        <div class="form">
            <h1 class="head">Feedback Form</h1>

            <form id="feedback-form">

                <h3>Name</h3>
                <input type="text" id="name" required>

                <h3>Email</h3>
                <input type="text" id="email" required>

                <h3>Feedback</h3>
                <textarea id="des" required></textarea>

                <button type="submit">Submit</button>
            </form>
        </div>

        <div class="result-box">
            <div class="result">
                <h2>Submitted Feedback</h2>
                <ul class="feed-list"></ul>
            </div>
        </div>

    </div>

    <script src="/static/app.js"></script>
</body>
</html>
